@model LeagueOfPlots.ViewModels.ViewModelPhoto
@{
    ViewData["Title"] = $"{Model.Name} - {Model.AlbumName}";
}

<div class="row">
    <div class="col-md-12">
        <button id="rename" class="btn btn-success float-right" type="button" title="Renommer la photo">
            <i class="fas fa-edit"></i>&nbsp;Renommer la photo
        </button>
        <form method="post" class="float-right" style="margin-left:5px">
            <input type="text" name="name" class="form-control" aria-label="Name" required value="@Model.Name" />
            <button class="btn btn-success d-none" id="triggerRename" type="submit" asp-action="Rename" asp-route-Id="@this.Model.Id">
            </button>
        </form>


        <form method="post" class="delete float-right">
            <button class="btn btn-danger" type="submit" asp-action="Delete" asp-route-Id="@this.Model.Id" title="Supprimer la photo">
                <i class="fas fa-trash"></i>Supprimer la photo
            </button>
        </form>
        <div class="title" itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
            <paging model="@Model" />
            <h2 itemscope itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name">@Model.Name</span>
            </h2>
            <meta itemprop="position" content="3" />
        </div>
    </div>
</div>

@if (Model.Next != null)
{
    <link rel="next" href="@Model.Next.Link" />
}

@if (Model.Previous != null)
{
    <link rel="prev" href="@Model.Previous.Link" />
}



<div class="photo">
    <div class="pic">
        <img src="@this.Model.Content" />
    </div>

    <aside itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
        <meta itemprop="position" content="2" />
        <span>
            Posté dans :
            <a href="@Model.AlbumLink" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name">@Model.AlbumName</span>
            </a>
        </span>
        @*<a href="@Model.DownloadLink" class="download">Télécharger</a>*@
    </aside>
</div>

@section scripts{
    <script src="/js/gallery.js" async></script>
<script>
    $("#rename").click(function () {
        $("#triggerRename").click();
    })
</script>
}

